server:
  http_listen_port: 9080
  grpc_listen_port: 0

clients:
  - url: http://loki_inforadar:3100/loki/api/v1/push

positions:
  filename: /tmp/positions.yaml

scrape_configs:
  - job_name: docker-logs
    static_configs:
      - targets: [localhost]
        labels:
          job: docker-logs
          __path__: /var/log/*.log
